@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --code-background: hsl(0, 0%, 97%); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #cacaca;
    /* --code-background: hsl(0, 0%, 10%); */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 45%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 46%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 94%;
    --border-muted-foreground: 0 0% 96%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --novel-highlight-default: #ffffff;
    --novel-highlight-purple: #f6f3f8;
    --novel-highlight-red: #fdebeb;
    --novel-highlight-yellow: #fbf4a2;
    --novel-highlight-blue: #c1ecf9;
    --novel-highlight-green: #acf79f;
    --novel-highlight-orange: #faebdd;
    --novel-highlight-pink: #faf1f5;
    --novel-highlight-gray: #f1f1ef;

    --code-background: 0 0% 97%;
    --code-foreground: 0 0% 10%;
    --code-comment: hsl(220, 10%, 50%);
    --code-variable: hsl(355, 65%, 65%);
    --code-number: hsl(29, 54%, 61%);
    --code-string: hsl(110, 55%, 45%);
    --code-title: hsl(45, 100%, 50%);
    --code-keyword: hsl(220, 80%, 60%);
    --code-function: hsl(290, 65%, 55%);
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 7%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --novel-highlight-default: #000000;
    --novel-highlight-purple: #3f2c4b;
    --novel-highlight-red: #5c1a1a;
    --novel-highlight-yellow: #5c4b1a;
    --novel-highlight-blue: #1a3d5c;
    --novel-highlight-green: #1a5c20;
    --novel-highlight-orange: #5c3a1a;
    --novel-highlight-pink: #5c1a3a;
    --novel-highlight-gray: #3a3a3a;

    --code-background: 0 0% 8%;
    --code-foreground: 0 0 80%;
    --code-comment: hsl(220, 10%, 60%);
    --code-variable: hsl(355, 65%, 75%);
    --code-number: hsl(29, 54%, 71%);
    --code-string: hsl(110, 55%, 65%);
    --code-title: hsl(45, 100%, 70%);
    --code-keyword: hsl(220, 80%, 80%);
    --code-function: hsl(290, 65%, 75%);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


pre {
  background: hsl(var(--code-background));
  border-radius: 0.5rem;
  color: var(--code-foreground);
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  overflow-x: auto; /* Add horizontal scroll if needed */

  code {
    background: none;
    color: inherit;
    font-size: 0.9rem;
    padding: 0;
  }

  /* Syntax highlighting styles using variables */
  .hljs-comment,
  .hljs-quote {
    color: var(--code-comment);
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: var(--code-variable);
  }

  .hljs-number,
  .hljs-meta,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: var(--code-number);
  }

  .hljs-string,
  .hljs-symbol,
  .hljs-bullet {
    color: var(--code-string);
  }

  .hljs-title,
  .hljs-section {
    color: var(--code-title);
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: var(--code-keyword);
  }

  .hljs-function {
    color: var(--code-function);
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: 700;
  }
}



h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.15em;
  }

  p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.25em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1em;
  }

  p {
    font-size: 0.85em;
  }
}

* {
  line-height: 1.7 !important;
}


@media screen and (max-width: 768px) {
  ol, ul {
    padding-left: 16px;
  }

  p {
    font-size: 1em;
  }

  blockquote {
    padding-left: 12px;
    margin-left: 2px;
  }

  blockquote p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  ol, ul {
    padding-left: 12px;
  }

  p {
    font-size: 0.95em;
  }

  blockquote {
    padding-left: 10px;
    margin-left: 1px;
  }

  blockquote p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}


strong {
  font-weight: bold;
}

* {
  line-height: 1.7 !important;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

blockquote {
  border-left: 1px solid #ccc;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 16px;
  margin-left: 4px;
  /* margin-right: 40px; */

}

blockquote p {
  margin-top: 2em;
  margin-bottom: 2em;
}




.is-empty,
.is-editor-empty {
  display: block;
  /* Ensure the element is visible */
  color: inherit;
  /* Inherit color, or set a visible one */
}

[data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: gray;
}


.prose [data-highlight] {
  background-color: var(--highlight-color); /* Ensure the correct variable is used */
}


.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: hsl(var(--muted-foreground));
  pointer-events: none;
  height: 0;
}

.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: hsl(var(--muted-foreground));
  pointer-events: none;
  height: 0;
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}


ul[data-type="taskList"] li>label {
  margin-right: 0.2rem;
  user-select: none;
}

@media screen and (max-width: 768px) {
  ul[data-type="taskList"] li>label {
    margin-right: 0.5rem;
  }
}

ul[data-type="taskList"] li>label input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: hsl(var(--background));
  margin: 0;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  border-radius: 4px;
  position: relative;
  top: 4.5px;
  border: 2px solid hsl(var(--border));
  margin-right: 0.2rem;
  display: grid;
  place-content: center;

  &:hover {
    background-color: hsl(var(--accent));
  }

  &:active {
    background-color: hsl(var(--accent));
  }

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }
}

ul[data-type="taskList"] li[data-checked="true"]>div>p {
  color: var(--muted-foreground);
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}





/* CSS for bold coloring and highlighting issue*/
span[style]>strong {
  color: inherit;
}

mark[style]>strong {
  color: inherit;
}


.editable:empty::before {
  content: attr(data-placeholder);
  pointer-events: none;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}